[submodule "Reisen1969.github.io"]
	path = Reisen1969.github.io
	url = https://github.com/Reisen1969/Reisen1969.github.io.git
[submodule "public"]
	path = public
	url = https://github.com/Reisen1969/Reisen1969.github.io.git
